.home-btn-text {
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

.home-btn-text:hover {
    color: var(--tekhelet);
}

.home-btn-svg {
    margin-bottom: 1.25rem;
    filter: invert(93%) sepia(0%) saturate(26%) hue-rotate(64deg) brightness(106%) contrast(107%);
    transition: margin-bottom 0.2s ease-in-out;
}

.home-btn-svg:hover {
    margin-bottom: 1rem;
    filter: invert(23%) sepia(7%) saturate(5308%) hue-rotate(223deg) brightness(97%) contrast(88%);
}