@media screen and (max-width: 450px) {
    .summary-container {
        width: auto;
    }    
}

@media screen and (min-width: 450px) {
    .summary-container {
        width: 20rem;
    }
}

@media screen and (max-width: 1000px) {
    .cart-container {
        flex-direction: column;
    }

    .checkout-container {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .cart-container {
        flex-direction: row;
    }

    .cart-item-container {
        min-width: 48rem;
    }
}

.cart-container {
    justify-content: center;
    display: flex;
    gap: 2rem;
    width: 100%;
}