@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --white: hsla(0, 0%, 100%, 1);
    --powder-blue: hsla(202, 46%, 72%, 1);
    --slate-blue: #6a6ab4;
    --tekhelet: #523979;
    --violet-jtc: #4c244a;
    --licorice: hsla(347, 23%, 12%, 1);
    --eerie-black: #1D2226;
    --eerie-accent: #242a2e;
    --black: hsla(0, 0%, 0%, 1);
}

a {
    text-decoration: underline;
    pointer-events: auto;
}

img,
input,
button,
label,
select,
h1,
h2,
p {
    pointer-events: auto;
}

body {
    pointer-events: none;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}